# Variables

In [6]:
## Create a firstName variable and assign the value Mario to it.

firstName = 'Mario'

In [3]:
## Create an age variable and assign the value 25 to it.

age = 25

In [5]:
## Create a sentence variable and assign the value Hello, I'm Mario! to it without using double quotes.

sentence = 'Hello, I\'m Mario!'

print(sentence)

Hello, I'm Mario!

In [13]:
## Create an amount variable and assign a float value to it.

amount = 2.7

In [14]:
## Create a set of 3 variables and assign True as value of each one.

iam_okay = True
iam_weird = True
juneys_lovely = True

In [15]:
## Remove the illegal characters in the variable 1my-first2_Name = 'Mario'.

myfirst2_Name = 'Mario'

In [6]:
## Write single quotes or double quotes correctly

statement1 = """Hi,
my name is
John Doe"""

statement2 = "python"

print (statement1)
print (statement2)

Hi,
my name is
John Doe
python

In [9]:
## Create 3 different variables and assign 3 different values. Write only one operation. Print them on terminal

var1, var2, var3 = 2.3, "don't start what you can't finish.", True

print(var1)
print(var2)
print(var3)

2.3
don't start what you can't finish.
True

In [10]:
## Swap the value of the variables

var1, var2, var3 = var2, var3, var1

print(var1)
print(var2)
print(var3)

don't start what you can't finish.
True
2.3

In [11]:
## Print the length of each variable.

len(var1)

print(len(var1))

## The other variables are a float and a boolean, for which printing out the length results in an error.

34

In [39]:
## Modify the variables as suggested
## a = 'hello' #capitalize
## b = 'tom' #uppercase
## c = 'LAURA' #lowercase
## question = 'How are you' #change o in e
## age_question = 'How old are you?' #use the correct method to create a string for each word
## print(a, b, c, question, age_question)


a = 'hello'.capitalize()

b = 'tom'.upper()

c = 'LAURA'.lower()

question = 'How are you'.replace('o','e')

age_question = 'How old are you?'
age_question.split(' ')

print(a, b, c, question, age_question)

Hello TOM laura Hew are yeu How old are you?

In [41]:
## Create two variables called name and age. 
##Then create a variable called hello and print the name and the age. Use the formatted string literal.

name = 'Methuselah'
age = 969

hello = f'Hi, my name is {name} and I am {age} years old. Crazy, huh?'
print(hello)

Hi, my name is Methuselah and I am 969 years old. Crazy, huh?

# Operators

In [3]:
## Insert the appropriate logical operator in order to print False
## print(False ... True) # Should print False

print(False and True)

False

In [2]:
## Change the logical operators in order to print True
## print(False and (0 != 0 or True)) # Should print True

print(False or (0 != 0 or True))

True

In [4]:
## Print the rest of the 5/2 division

print(5%2)

1

In [6]:
## Insert the appropriate logical operator in order to print True.

print(not ("testing" == "testing" and "Mario" == "Cool Guy"))

True

In [9]:
## Initialize and print the sentence variable using the appropriate operators.

firstName = "Mario"
lastName = "Rossi"

sentence = firstName + ' ' + lastName

print(sentence)

Mario Rossi

In [10]:
## Check if "Nike" is in brands array using the appropriate logical operator

brands = ["Adidas", "Nike"]

print("Nike" in brands)

True

In [11]:
## Check if "Reebok" is not in brands array using the appropriate logical operator

brands = ["Adidas", "Nike"]

print("Reebok" not in brands)

True

# Methods

In [12]:
## With type command you can see the type of a variable in python eg: type(1) 
##print each components type with this way you can see most significant data types in python

print(type("Hello World"))
print(type(True))
print(type(False))
print(type(33))
print(type(24.5))
print(type(4+1j))
print(type(4j))
print(type(["lion", "monkey", "dog","fish"]))
print(type(("lion", "monkey", "dog","fish")))
print(type({"name" : "John", "surname" : "Doe", "age":22}))
print(type({"lion", "monkey", "dog","fish"}))

<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [22]:
## the number types can be converted to each other wit the int() float() complex() methods 
## also float numbers can be rounded with the method round()

## convert num1 to float and assign to itself
## convert num2 to int and assign to itself
## convert num3 to complex and assign to itself
## use round method for num4 and assign to itself
## use round method for num5 and assign to itself
## print them all
## print their types

num1 = 1.3
num2 = 2.3
num3 = 1j 
num4 = 1.4 
num5 = 1.5

num1 = float(num1)
num2 = int(num2)
num3 = complex(num3)
num4 = round(num4)
num5 = round(num5)

print(num1)
print(num2)
print(num3)
print(num4)
print(num5)

1.3
2
1j
1
2

In [4]:
## to convert a number to string we can use str() function this is called casting

## cast num1 to string and assign to num1_str
## check the length of the string
## get the third element of string (the one in the 3rd order)
## get the 3-5 elements of string (both inclusive) by string slicing
## check if num2 in string (cast if necessary)
## check if num3 in string (cast if necessary)
## concatenate 0 to the string from left and assign to string_with_0
## get the characters of string_with_0 from start to position 4 (end point exclusive)
## get the characters of string_with_0 from position 5 until the end
## use negative indexing to reach the "567" string_with_0

num1 = 1122334455666
num2 = 2
num3 = 3

num1_str = str(num1)

len(num1_str)

num1_str[2]

num1_str[2:5]

type(num2)
#num2 is an integer
num2_str = str(num2)

type(num3)
#num3 is an integer
num3_str = str(num3)

string_with_0 = '0' + num1_str

string_with_0[0:3]

string_with_0[4:]

string_with_0[-4:]

'3' in num2_str

False

# Conditions

In [1]:
##print if num1 or num2 is greater 
##num1 = 335
##num2 = 66

num1 = 335
num2 = 66

if num1 > num2:
    print(f"{num1} is greater than {num2}")
else:
    print(f"{num1} is not greater than {num2}")

335 is greater than 66

In [2]:
## Conditions - Exercise 2 🐍

##check if number1 is greater than number 2 and print `number1 is greater than number2` 
##then check and if number 2 is greater than number 1 and print `number2 is greater than number1` 
##finally at the end if both conditions incorrect print `number2 equals to number1`

number1 = 66
number2 = 66

if number1 > number2:
    print(f"{number1} is greater than {number2}")
elif number2 > number1:
    print(f"{number2} is greater than {number1}")    
else:
    print(f"{number1} equals to {number2}")

66 equals to 66

In [3]:
## compare those 2 numbers and write `X greater than Y`
## But be sure you are making the check for all the conditions

import random

number1 = random.randint(1,100)
number2 = random.randint(1,100)

# Compare the numbers to eachother

if number1 > number2:
    print(f"{number1} is greater than {number2}")
elif number2 > number1:
    print(f"{number2} is greater than {number1}")    
else:
    print(f"{number1} equals to {number2}")

77 is greater than 42

In [4]:
# Conditions - Exercise 4

##compare those 2 numbers' absolute values and write `X's absolute value greater than Y's absolute value`
##Use `abs` function to do that   
##eg.   
##`abs(-5)` -> 5   
##abs function makes all numbers positive 

import random

number1 = random.randint(-100,100)
number2 = random.randint(-100,100)

if abs(number1) > abs(number2):
    print(f"{number1}'s absolute value is greater than {number2}'s absolute value")
elif abs(number2) > abs(number1):
    print(f"{number2}'s absolute valueis greater than {number1}'s absolute value")    
else:
    print(f"{number1} is equal to {number2}")

65's absolute valueis greater than 5's absolute value

# Iterators

In [10]:
# Iterators - Exercise 1
i = 1 
while i < 6:
    print("*"*i)
    i = i + 1

*
**
***
****
*****

In [12]:
# Iterators - Exercise 2
for i in range(1,6):
    if i%2==0:
        continue
    else:
        print('*'*i)

*
***
*****

In [24]:
# Iterators - Exercise 3

##check if it is time for `coffee break` if it is just break 
##to do that lets iterate through given list don't change the `COFFEE BREAK` statement
##just find another way to do it 

todo = ["exercise1", "exercise2", "exercise3","coffee break" ,"exercise4","exercise5","exercise6"]
for x in todo:
    if x.upper() == "COFFEE BREAK":
        print(x)
        break

coffee break

In [13]:
# Iterators - Exercise 4


##iterate each elements of `list1`,`tuple1`,`set1` and print them out 

##for the `dict1` iterate all elements but only print the ones who are living on land
##in the form of `x lives in y`

list1 = ["lion", "monkey", "dog","fish"]
tuple1 = ("lion", "monkey", "dog","fish")
set1 = {"lion", "monkey", "dog","fish"}
dict1 = {"lion":"land", "monkey":"land", "dog":"land","fish":"water"}


for a in list1:
    print(a)

    
for b in tuple1:
    print(b)
    
    
for c in set1:
    print(c)
    
    
for x,y in dict1.items():
    if y == 'land':
        print(f'{x} lives on {y}')
    else:
        break

lion lives on land
monkey lives on land
dog lives on land